@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1704609538231') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Browser:before {
  content: "\eaa4";
}

.icon-Dashboards:before {
  content: "\eaa7";
}

.icon-Cart:before {
  content: "\eaac";
}

